/* ==========================================================================
    main.css for TextShowdown - text-based online game framework 
    https://github.com/uia/textshowdown

    thanks to: HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

/* ==========================================================================
   custom browser-resets
   ========================================================================== */

html,button,input,select,textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #3347A6;
    color: white;
    text-shadow: none;
}

::selection {
    background: #3347A6;
    color: white;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Template
   ========================================================================== */


/* font-including */

@font-face {
    font-family: 'BebasNeue';
    src:    local('BebasNeue'), 
            local('BebasNeueRegular'), 
            url('fonts/BebasNeue.woff') format('woff'),
            url('fonts/BebasNeue.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

/* background and standard fonts */

body {
    background: url(./../img/bg.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

span.logo {
    font-size: 75px;
    font-family: 'BebasNeue', Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 10px;
    padding: 5px 0px 0 0;
    color: #fff;
}

span.slogan {
    font-size: 28px;
    font-family: 'BebasNeue', Arial, Helvetica, sans-serif;
    color: #fff;
}

/* LAYOUT */

#wrapper {
    width: 930px;
    min-height: 400px;
    border-radius: 3px;
    padding: 15px;
    background: #ffffff;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.85) 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.85) 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,#f6f6f6 47%,#ededed 100%);
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.half-box         {width: 47.5%;}
.third-box        {width: 30.5%;}
.quarter-box      {width: 21.9%;}
.fifth-box        {width: 16.7%;}
.twothirds-box    {width: 65.3%;}
.threequaters-box {width: 74.0%;}
.twofifth-box     {width: 37.2%;}
.threefifth-box   {width: 58.0%;}
.fourfifth-box    {width: 79.0%;}

.half-box, .third-box, .twothirds-box, .quarter-box, .threequaters-box, .fifth-box, .twofifth-box, .threefifth-box, .fourfifth-box {
    position: relative;
    display: inline-block;
    *display: inline;
    float: left;
    margin-right: 4%;
    margin-bottom: 15px;
}

.lastbox {
    margin-right: 0 !important;
}

#games {
    width: 600px;
    margin: 0 auto;
}

/* GAMEVIEW */

.game {
    background-color: #222;
    color:#fff;
    height: 130px;
    box-shadow: 0 0 9px #aaa;
}

.game:hover {
    box-shadow: 0 0 9px #000;
}

.game, .game:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/* GAMETOOLTIPS */

.game span {
    font-weight: 400;
    visibility: hidden;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 80%;
    z-index: 999;
    width: 250px;
    margin-left: 20px;
    padding: 5px;
    line-height: 1.5;
    background-color: #ddd;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0, 0, 0,1);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.game:hover span {
    visibility: visible;
    opacity: 0.95;
    outline: none;
}

.game img { /*optimal size for img -> h:130px;w:100px;*/
    width: 100%;
    height: 100%;
}

i.rate {
    float: right;
    font-size: 0.95em;
}

/* TEXT STYLE */

a {
    color: #1848A0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "BebasNeue", Helvetica, Arial;
}

h1. {font-size: 2.3em;}

ul {
    list-style: square;
}




/* ==========================================================================
   helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}